MetalogixDemoClient/Service References/MetalogixWcfService/MetalogixDemoService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetalogixDemoService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetalogixDemoService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCompanyWcfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyWcfItem" nillable="true" type="tns:CompanyWcfItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyWcfItem" nillable="true" type="tns:ArrayOfCompanyWcfItem" />
  <xs:complexType name="CompanyWcfItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyTypeEnum" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyTypeItem" nillable="true" type="tns:CompanyWcfTypeItem" />
      <xs:element minOccurs="0" name="ContryCode" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyWcfItem" nillable="true" type="tns:CompanyWcfItem" />
  <xs:complexType name="CompanyWcfTypeItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyWcfTypeItem" nillable="true" type="tns:CompanyWcfTypeItem" />
  <xs:complexType name="ArrayOfCompanyWcfTypeItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyWcfTypeItem" nillable="true" type="tns:CompanyWcfTypeItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyWcfTypeItem" nillable="true" type="tns:ArrayOfCompanyWcfTypeItem" />
</xs:schema>