MetalogixWpfClientTest/Service References/MetalogixWcfService/MetalogixDemoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MetalogixDemoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57923/MetalogixDemoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57923/MetalogixDemoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57923/MetalogixDemoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:57923/MetalogixDemoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MetalogixDemoService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMetalogixDemoService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IMetalogixDemoService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMetalogixDemoService_GetAllCompanies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompanies" />
  </wsdl:message>
  <wsdl:message name="IMetalogixDemoService_GetAllCompanies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="IMetalogixDemoService_UpdateCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompany" />
  </wsdl:message>
  <wsdl:message name="IMetalogixDemoService_UpdateCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IMetalogixDemoService_AddCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCompany" />
  </wsdl:message>
  <wsdl:message name="IMetalogixDemoService_AddCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IMetalogixDemoService_GetCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompany" />
  </wsdl:message>
  <wsdl:message name="IMetalogixDemoService_GetCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IMetalogixDemoService_GetAllTypeData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTypeData" />
  </wsdl:message>
  <wsdl:message name="IMetalogixDemoService_GetAllTypeData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTypeDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMetalogixDemoService_GetTypeData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeData" />
  </wsdl:message>
  <wsdl:message name="IMetalogixDemoService_GetTypeData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IMetalogixDemoService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetalogixDemoService/GetData" message="tns:IMetalogixDemoService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetalogixDemoService/GetDataResponse" message="tns:IMetalogixDemoService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanies">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetalogixDemoService/GetAllCompanies" message="tns:IMetalogixDemoService_GetAllCompanies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetalogixDemoService/GetAllCompaniesResponse" message="tns:IMetalogixDemoService_GetAllCompanies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetalogixDemoService/UpdateCompany" message="tns:IMetalogixDemoService_UpdateCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetalogixDemoService/UpdateCompanyResponse" message="tns:IMetalogixDemoService_UpdateCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetalogixDemoService/AddCompany" message="tns:IMetalogixDemoService_AddCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetalogixDemoService/AddCompanyResponse" message="tns:IMetalogixDemoService_AddCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetalogixDemoService/GetCompany" message="tns:IMetalogixDemoService_GetCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetalogixDemoService/GetCompanyResponse" message="tns:IMetalogixDemoService_GetCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTypeData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetalogixDemoService/GetAllTypeData" message="tns:IMetalogixDemoService_GetAllTypeData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetalogixDemoService/GetAllTypeDataResponse" message="tns:IMetalogixDemoService_GetAllTypeData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTypeData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetalogixDemoService/GetTypeData" message="tns:IMetalogixDemoService_GetTypeData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetalogixDemoService/GetTypeDataResponse" message="tns:IMetalogixDemoService_GetTypeData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMetalogixDemoService" type="tns:IMetalogixDemoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IMetalogixDemoService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanies">
      <soap:operation soapAction="http://tempuri.org/IMetalogixDemoService/GetAllCompanies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCompany">
      <soap:operation soapAction="http://tempuri.org/IMetalogixDemoService/UpdateCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCompany">
      <soap:operation soapAction="http://tempuri.org/IMetalogixDemoService/AddCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompany">
      <soap:operation soapAction="http://tempuri.org/IMetalogixDemoService/GetCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTypeData">
      <soap:operation soapAction="http://tempuri.org/IMetalogixDemoService/GetAllTypeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTypeData">
      <soap:operation soapAction="http://tempuri.org/IMetalogixDemoService/GetTypeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MetalogixDemoService">
    <wsdl:port name="BasicHttpBinding_IMetalogixDemoService" binding="tns:BasicHttpBinding_IMetalogixDemoService">
      <soap:address location="http://localhost:57923/MetalogixDemoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>